<div keypress-events>
	<div class="row question-content">
	    <p>{{ question.question }}</p>
	</div>

	<div class="row">
		<div class="col-md-9">
			<div class="question-answers">
			<form>
			    <table ng-repeat="answer in question.answers">
			        <tr ng-class="{'bg-primary': answer.is_true && showResult, 'bg-danger': answer.content == question.answers[key -1].content && !question.answers[key -1].is_true && showResult }">
			            <td>
			            	<input 	ng-disabled="showResult || (countdown !== 0  && countdown !== 2)" 
			            			ng-checked="$index + 1 == key"
			            			ng-change="submitAnswer(answer)"
			            			ng-model="selected_answer.answer"
			            			ng-value="answer"
			            			class="radio answer-radio" type="radio" name="answer" id="answer_{{ answer.content }}" />
		            	</td>
			            <td>
			            	<label for="answer_{{ answer.content }}">{{ answer.content }}</label>
		            	</td>
			        </tr>
			    </table>
			</form>
			</div>
		</div>
		<div class="col-md-3">
			<countdown interval="1000" question-type="question.questionType" start="countdown" on-finish="countdownEnd(question.answers[key -1])"></countdown>

		</div>
	</div>

	</div>
	<div ng-show="showResult">
		<p ng-show="question.answers[key -1].is_true">اجابة صحيحة!</p>
		<p ng-show="!question.answers[key -1].is_true">اجابة خاطئة!</p>
	</div>
</div>

