<div class="result-page" ng-show="!showFinalResult">
    <div class="question-wrapper">
    <div class="row question-content">
        <p >{{ question.question }}</p>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div class="question-answers">
                <ul ng-repeat="answer in question.answers">
                    <li><p>{{ answer.content }}</p></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <countdown interval="1000" question-type="question.questionType" start="countdown" on-finish="audienceCountdown"></countdown>
        </div>
    </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <table class="table"> 
                <thead>
                    <tr class="bg-primary">
                        <th>المتسابق</th>
                        <th>الاجابة</th>
                    </tr>
                </thead>
                <tbody ng-repeat="user in match.users | limitTo: 5">
                    <tr ng-class="{'bg-info': answers[user._id].is_true && showResult }" >
                        <td><p>{{ user.username }}</p></td>
                        <td><p ng-show="users_ready.indexOf(user._id) > -1">{{ answers[user._id].content }}</p></td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div class="col-md-6">
            <table class="table"> 
                <thead>
                    <tr class="bg-primary">
                        <th>المتسابق</th>
                        <th>الاجابة</th>
                    </tr>
                </thead>
                <tbody ng-repeat="user in match.users | limitTo: -5">
                    <tr ng-class="{'bg-info': answers[user._id].is_true && showResult }">
                        <td><p>{{ user.username }}</p></td>
                        <td><p ng-show="users_ready.indexOf(user._id) > -1">{{ answers[user._id].content }}</p></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<div class="result-page"  ng-show="showFinalResult">
   
    <div class="row">
        <div class="col-md-6">
            <table class="table"> 
                <thead>
                    <tr class="bg-primary">
                        <th>المتسابق</th>
                        <th>النقاط</th>
                    </tr>
                </thead>
                <tbody ng-repeat="score in scores | limitTo: 5">
                    <tr>
                        <td><p>{{ score.user.username }}</p></td>
                        <td><p>{{ score.score }}</p></td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div class="col-md-6">
            <table class="table"> 
                <thead>
                    <tr class="info">
                        <th>المتسابق</th>
                        <th>النقاط</th>
                    </tr>
                </thead>
                <tbody ng-repeat="score in scores | limitTo: -5">
                    <tr>
                        <td><p>{{ score.user.username }}</p></td>
                        <td><p>{{ score.score }}</p></td>
                    </tr>
                </tbody>
            </table>
            </table>
        </div>
    </div>
</div>